API_BASE_URL=https://api-test.kuant.ai

TOKEN_USER_374=
TOKEN_USER_375=

USER_374_DEFAULT_CANDIDATE_CODE_ID=2045
USER_374_DEFAULT_CANDIDATE_CODE=K0317145800
USER_374_REGISTRATION_CODE=REFQATIH
USER_375_REGISTRATION_CODE=REFQYUT0

MAX_REFERRAL_CODES_PER_USER=20
